

/* --- put your css here --- */ 
nav{
  display: block;
  padding: 8px;
  background-color: green;
  font-size: 20px;
  opacity: .9;  
  position:sticky;
  top: 0;
}

/* #2 */
body {
  background-color: skyblue;
}

/* #3 */
#igottabeme{ font-family: Arial, Helvetica, sans-serif; }

/* #4 */
#classy{margin-left: 10px;}

/* #5 */
div{
  margin-bottom: 50px; 
}

/* #6 */
span {
  height: 100px;
  width: 50px;
  padding: 5px 20px;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  background-color: yellow;
}

/* #7 */
.a{
  
}

.b{
  position: relative;
  display: block;
}

.c{
  height: auto; 
}

/* #8*/
img[alt="cat icon"]{
  position: fixed;
  bottom: 0;
  right: 0;
}

/* #9 */
img[alt="dog icon"] {position:relative; left: -50px; top: -150px;}

div.notused{
  background-color: orange;
}




/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
